<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script text="text/javascript">
        function getStuff()
        {
            $.get('/getResults', function (data) {
                console.log("Back from the server with: ");
                console.log(data.rows[0]); 
                console.log(data.rows[0].lastname); 

                var word = "";
                for (let i = 0; i < data.rows.length; i++)
                {
                    word += "<h4>" + data.rows[i].firstname + "</h4>";
                    word += "<h4>" + data.rows[i].lastname + "</h4>";
                }
                $("#results").html(word);
            });
            /*$.post( {

            });*/
            
        }
    </script>
</head>
<body>
    <button onclick="getStuff()">Click Me!</button>
    <p id="results"></p>
</body>
</html>